{
  "branches": [
    {
      "name": "master",
      "prerelease": true
    },
    {
      "name": "release",
      "prerelease": false
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "set-version ${nextRelease.version}",
        "publishCmd": "publish-package"
      }
    ]
  ],
  "repositoryUrl": "git@github.com:devngc/test-semantic.git"
}
